<%= debug @passages %>

<div class="row">
  <div class="twelve columns">
    <h3>Vools</h3>

    <%- if @passages -%>
    <table>
      <%- @passages.each do |passage| -%>
      <tr>
        <td><%= passage['name'] %></td>
        <td><%= passage['scale'] %></td>
        <td><%= passage['mask'] %> <%= passage['price'] %></td>
        <td></td>
      </tr>
      <%- end -%>
    </table>
    <%- end -%>

    <h3>Hoteis</h3>
  </div>
</div>