<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />

    <title>Controle de Viagem</title>
    
    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
    
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <!--[if lt IE 9]>
        <%= stylesheet_link_tag "ie", :media => "all" %>
    <![endif]-->
    
    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>

    <!-- container -->
    <div class="container">

        <div class="row header">
            <div class="seven columns">
                <h1>
                    <span class="custo">Custo</span> 
                    <span class="de">de</span> 
                    <span class="viagem">Viagem</span>
                </h1>
            </div>

            <div class="five columns">
              <%= form_for @trip, :url => {:action => :create } do |f| %>
                <h2>Onde quer chegar?</h2>
                <% if @trip.errors.any? %>
                  <ul class="disc">
                    <% @trip.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                  </ul>
                <% end %>

                <%= f.label :origin %>
                <%= f.select :origin, options_for_select(@airports.collect{ |k,v| [v,k] }, @trip.origin || nil), :prompt => '- Selecione -' %>
                <%= f.label :destination %>
                <%= f.select :destination, options_for_select(@airports.collect{ |k,v| [v,k] }, @trip.destination || nil), :prompt => '- Selecione -' %>

                <%= label_tag 'Período' %>
                <%= f.text_field :initial_date, :class => 'date', :style => 'width:125px;' %> at&eacute; 
                <%= f.text_field :final_date, :class => 'date', :style => 'width:125px;' %>

                <%= submit_tag 'Pesquisar', :class => 'nice radius small blue button', :style => 'width:300px;' %>
              <% end %>
            </div>
        </div>
        
        <div class="content">
          <%= yield %>
        </div>
        
        <div class="footer">
            <div class="row">
                <div class="eight columns">
                    Equipe <strong>Malaman</strong>
                </div>
                <div class="four columns">
                    <a href="https://github.com/rafarubert/custo_viagem_jruby" title="Github">Github</a>
                    <a href="" title="Twitter">Twitter</a>
                </div>
            </div>
        </div>
    </div>
    <!-- container -->

</body>
</html>